# Build folders
bin/
obj/

# User-specific
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code / Visual Studio
.vscode/
.vs/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment
.env
appsettings.Development.json